* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --black: #1e1e1e;
    --gray: #E8E8E8;
    --deep-gray: #bababa;
}

body {
    font-family: 'Inter', 'Roboto', sans-serif;
    color: var(--black);
    font-style: normal;
    line-height: normal;
}

.main {
    padding: 50px 25px;
}

.color_theme {
    text-align: right;
    margin: 0px 5px 15px 0px;
}

.theme_mode {
    border: 0px;
    background-color: transparent; 
}

.__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}

.__title_g {
    background: linear-gradient(90deg, #4CAF50 13.67%, #FF5722 91.39%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.__desc {
    color: #AFAFAF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    align-self: stretch;
}

.form {
    text-align: center;
    margin: 48px 0px 0px 0px;
}

.geo_input_content {
    border-radius: 15px;
    background: #030303;
    padding: 10px 11px 6px 11px;
    margin: 0px 0px 31px 0px;
    display: grid;
    gap: 15px;
}


.input_text {
    width: 100%;
    color: #fff;
    border: 0px;
    border-radius: 10px; 
    background: #2A2A2C;
    padding: 10px 10px 18px 10px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.current_location {
    font-size: 12px;  
    font-weight: 400;
    border-radius: 10px;
    background: #FF5722;
    padding: 5px 10px;
    color: #FFF;
    text-align: right;     
    width: fit-content; 
    justify-self: flex-end;  
}

.current_location svg {
    margin-bottom: -2px;
    margin-right: 5px;
}

.btn {
    font-size: 16px;
    border-radius: 30px;
    border: 10px solid var(--gray);
    padding: 10px 10px 11px 10px;
    color: #fff;
    font-family: 'Inter', 'Roboto', sans-serif;
    background: #4CAF50;
    width: 170px;
    cursor: pointer;
}

.btn:disabled {
    background: var(--deep-gray) !important;
}

.btn:hover {
    background: #005F04;
}


.rocket_svg {
    margin: 0px 0px -4px 10px;
    height: 18px;
}

.result {
    border: 25px var(--gray) solid;
    border-radius: 15px;
    margin: 45px 0px 0px 0px;
    background-color: var(--gray); 
    text-align: left;
    display: inline-block;
    max-width: 100%;
    width: 100%;
}

.result_wrapper {
    border-radius: 15px;
    padding: 35px 24px;
    color: #2A2A2C;
    font-size: 13px;
    background-color: #fff;
}

.builders {
    text-align: center;
    color: #AFAFAF;
    font-size: 12px;
    font-weight: 500;
    align-self: stretch;
    margin-top: 45px;
}

.builders a {
    color: #4CAF50;
    text-decoration: none;
}


/* Darktheme Mode */

.dark_mode {
    background-color: var(--black);
    color: #fff;
}

.light-theme-icon {
    display: none;
}

.darkbtn {
    border: 10px solid #2A2A2C;
}

.darkbtn:disabled {
    background: var(--black) !important;
}

.darkresult {
    border: 25px #2A2A2C solid;
    background-color: #2A2A2C; 
}

.dark_result_wrapper {
    color: #afafaf;
    background-color: var(--black);
}
  




@media only screen and (min-width: 600px) {
   .main {
    padding: 60px 55px;
   }
}

@media only screen and (min-width: 700px) {
   .main {
    padding: 60px 75px;
   }
}

@media only screen and (min-width: 750px) {
   .main {
    padding: 60px 85px;
   }
}

@media only screen and (min-width: 820px) {
   .__content {
    max-width: 750px;
    margin: 0px auto;
   }

   .color_theme {
    text-align: right;
    margin: 0px -70px 25px 0px;
    }
}